# Dependencies
node_modules/
/apps/api/vendor/

# Environment & Secrets
.env
.env.local
*.env

# Go Binaries & Build Artifacts
/apps/api/bin/
/apps/api/tmp/
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Expo & React Native Build Artifacts
.expo/
dist/
web-build/
android/
ios/

# OS Specific Files
.DS_Store
Thumbs.db
Desktop.ini
*.pem